<launch>
  <arg name="nao_ip" default="$(optenv NAO_IP 10.0.1.230)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  
 
  <node pkg="nao_nodes" type="head_motion_node.py" name="head_motion_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="nao_nodes" type="text2speech_node.py" name="text2speech" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="nao_nodes" type="image_input_node.py" name="image_input" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="nao_nodes" type="microphone_node.py" name="microphone_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="nao_nodes" type="locomotion_node.py" name="locomotion_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="nao_nodes" type="arm_motion_node.py" name="arm_motion_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="nao_nodes" type="sonar_node.py" name="sonar_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="nao_nodes" type="audio_player.py" name="audio_player" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />

</launch>
