<launch>  
   <arg name="nao_ip" default="$(optenv NAO_IP 10.0.1.236)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <node pkg="sound_recognition" type="voice_activity_detection.py" name="voice_activity_detection" required="true" output="screen" />
  <node pkg="sound_recognition" type="sound_recognition_node.py" name="sound_recognition_node" args="setup" required="true" output="screen" />
  <node pkg="nao_nodes" type="microphone_node.py" name="microphone_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
</launch>